{% extends 'base.html.twig' %}

{% block title %}Filiere index{% endblock %}

{% block body %}
    <h1>Filiere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filiere in filieres %}
            <tr>
                <td>{{ filiere.id }}</td>
                <td>{{ filiere.nom }}</td>
                <td>
                    <a href="{{ path('app_filiere_show', {'id': filiere.id}) }}">show</a>
                    <a href="{{ path('app_filiere_edit', {'id': filiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_filiere_new') }}">Create new</a>
{% endblock %}
